<div class="main-content">
    <div class="left-div">
        <h1>Create Invoices.</h1>
        <h2>Organize Your Business.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere excepturi assumenda optio explicabo maxime voluptas eius illum quas earum! Delectus, nostrum. Similique nostrum aperiam sint ab quibusdam rerum, debitis quam enim, optio blanditiis animi ad hic saepe odio amet fugiat! Maxime quos harum quasi sit distinctio nemo sunt quam nihil!</p>
    </div>

    <div class="right-div">
        <img src="https://cdn.dribbble.com/users/1355613/screenshots/6533809/invoice_maker_4x.jpg?compress=1&resize=1200x900" alt="">
    </div>
</div>
