<div class="content">
    <div class="left-side">
        <span class="left big">{{invoice.invoiceFrom}}</span>
        <span class="left medium">202-555-0826</span>
    </div>
    <div class="right-side address">
        <span class="right addr">1912 Harvest Lane</span>
        <span class="right addr">New York, NYJ12210</span>
        <span class="right addr">United States</span>
    </div>

  
</div>

<div class="mid-content row">
    <div class="col s4 m4 info-left">
        <span class="data-title">Billed To</span>
        <span class="data">Adam Johnson</span>
        <span class="data">{{invoice.invoiceTo}}</span>
    </div>
    <div class="col s4 m4 info-middle">
        <span class="middle data-title">Invoice Date</span>
        <span class="data">06/03/2020</span>
    </div>
       
    <div class="col s4 m4 info-right">
        <span class="right data-title">Amount Due</span>
        <span class="right data-amount">{{invoice.total | currency:'CAD'}}</span>
    </div>
</div>

<div class="table-section">
    <table>
        <thead>
            <tr class="table-heading-row">
                <th>Item Name</th>
                <th>Item Qty</th>
                <th>Item Price</th>
                <th class="right">Line Total</th>
            </tr>
        </thead>



        <tbody class="table-data-section">
            <tr class="table-data-row" *ngFor="let lineItem of invoice.lineItems; let i = index">

                <td>
                    {{lineItem.itemName}}
                </td>

                <td>
                    {{lineItem.itemQty}}
                </td>
                <td>
                    {{lineItem.itemPrice | currency:'CAD'}}
                </td>
                <td class="right">
                    {{lineItem.subTotal | currency:'CAD'}}
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

