<div class="buttons">
    <button mat-raised-button routerLink="/invoice/edit/{{id}}">Edit Invoice</button>
    <button mat-raised-button (click)="deleteInvoice()">Delete Invoice</button>
</div>

<div class="content-wrapper" *ngIf="invoice">



<div class="content">
    <div class="left-side">
        <span class="left big">{{invoice.invoiceFrom}}</span>
        <span class="left medium">{{invoice.companyPhone}}</span>
    </div>
    <div class="right-side address">
        <span class="right addr">{{invoice.companyAddress}}</span>
        
    </div>

  
</div>

<div class="mid-content row">
    <div class="col s4 m4 info-left">
        <span class="data-title">Billed To</span>
        <span class="data">{{invoice.invoiceTo}}</span>
        <span class="data">{{invoice.billingAddress}}</span>
       

    </div>
    <div class="col s4 m4 info-middle">
        <span class="middle data-title">Invoice Date</span>
        <span class="data">06/03/2020</span>
    </div>
       
    <div class="col s4 m4 info-right">
        <span class="right data-title">Amount Due</span>
        <span class="right data-amount">{{invoice.total | currency:'CAD'}}</span>
    </div>
</div>

<div class="table-section">
    <table>
        <thead>
            <tr class="table-heading-row">
                <th>Item Name</th>
                <th>Item Qty</th>
                <th>Item Price</th>
                <th class="right">Line Total</th>
            </tr>
        </thead>



        <tbody class="table-data-section">
            <tr class="table-data-row" *ngFor="let lineItem of invoice.lineItems; let i = index">

                <td>
                    {{lineItem.itemName}}
                </td>

                <td>
                    {{lineItem.itemQty}}
                </td>
                <td>
                    {{lineItem.itemPrice | currency:'CAD'}}
                </td>
                <td class="right">
                    {{lineItem.subTotal | currency:'CAD'}}
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

<div class="end-content right">
    <div class="label">
        <span class="lbl">Subtotal</span>
        <span class="lbl">Tax ({{invoice.taxAmtPercentage}}%)</span>
        <span class="lbl">Amount Due</span>
    </div>

    <div class="value">
        <span class="val">{{subtotal | currency:'CAD'}}</span>
        <span class="val">{{invoice.taxAmtValue | currency:'CAD'}}</span>
        <span class="val total">{{invoice.total | currency:'CAD'}}</span>
    </div>
</div>

</div>



